name: Run Security Scans
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  govulncheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3
      - name: Run govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: 1.25.5
          go-package: ./...
