name: Reset SARIF Alerts

on:
  workflow_dispatch:

jobs:
  reset:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Upload empty SARIF
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: empty.sarif
